.centered{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.botones {
    background-color: #0B1956;
    color: #fdfdfd;
    border: 1px solid #343a40;
    border-radius: 0
}

.botones:hover {
    background-color: #354797; 
}

.miColor {
    background-color: #D2E8FF;
}

.colorFondo {
    background-color: #0B1956;
}

.botonLogin {
    background-color: #fdfdfd;
    color: #0B1956;
    border-radius: 0
}

.botonLogin:hover {
    background-color: rgb(0, 28, 150); 
    color: #fdfdfd;
}
